# ===============================
# BUILD FILES
# ===============================
target/
bin/
build/
out/

# ===============================
# MAVEN
# ===============================
.mvn/wrapper/maven-wrapper.jar

# ===============================
# LOG FILES
# ===============================
*.log

# ===============================
# ENV FILES
# ===============================
.env

# ===============================
# IDE FILES
# ===============================

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# TOMCAT (IMPORTANT 🔥)
# ===============================
apache-tomcat-*
